$base: white;
$texto: rgb(202, 201, 201);
$buttonResalte: rgb(98, 13, 148);
$imputBase: rgb(211, 3, 149);
$buttonBase: rgb(255, 0, 76);
$bordes: solid 2px ;
$fuente: "Times New Roman", Times, serif;
$margin: 0.5em;
$transicion: 1s;